# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# MongoDB database details
DB_HOST=mongodb://localhost:27017
DB_NAME="veracode"
DB_USER=""
DB_PASS=""